<aside class="sidebar">

    <div class="sidebar-logo">

        <img src="../../assets/logo/logo.png" alt="Logo">

        <div>
            <h2>David Martinez</h2>
            <span>Estilista Unisex</span>
        </div>

    </div>

    <nav class="sidebar-menu">

        <a href="#" class="active">
            <i class="iconoir-home"></i>
            <span>Inicio</span>
        </a>

        <a href="#">
            <i class="iconoir-calendar"></i>
            <span>Reservar Turno</span>
        </a>

        <a href="#">
            <i class="iconoir-clock"></i>
            <span>Mis Turnos</span>
        </a>

        <a href="#">
            <i class="iconoir-history"></i>
            <span>Historial</span>
        </a>

        <a href="#">
            <i class="iconoir-heart"></i>
            <span>Favoritos</span>
        </a>

        <a href="#">
            <i class="iconoir-gift"></i>
            <span>Promociones</span>
        </a>

        <a href="#">
            <i class="iconoir-bell"></i>
            <span>Notificaciones</span>
        </a>

        <a href="#">
            <i class="iconoir-user"></i>
            <span>Perfil</span>
        </a>

    </nav>

</aside>