/* =====================================
            FORMS
===================================== */


form {

    display:flex;

    flex-direction:column;

    gap:15px;

}


label {

    font-weight:600;

}


input,
select,
textarea {

    width:100%;

    padding:12px;

    border-radius:8px;

    border:1px solid var(--border-color);

    background:white;

}


input:focus,
select:focus,
textarea:focus {

    outline:none;

    border-color:var(--accent-color);

}